/* Normal image display */
img {
    cursor: zoom-in;
    transition: opacity 0.2s ease-in-out;
}

/* Lightbox (Full-Screen Image Preview) */
.lightbox-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
}

.lightbox-overlay img {
    max-width: 90%;
    max-height: 90%;
    border: 5px solid white;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.lightbox-overlay.visible {
    opacity: 1;
    pointer-events: auto;
}

img.img-left {
  float: left;
  margin: 0 1em 1em 0;
}

img.img-right {
  float: right;
  margin: 0 0 1em 1em;
}

img.img-center {
  display: block;
  margin: 1em auto;
}

/* Float applied to either <img> or <picture> */
.img-left {
  float: left;
  margin: 0 1em 1em 0;
}

.img-right {
  float: right;
  margin: 0 0 1em 1em;
}

.img-center {
  display: block;
  margin: 1em auto;
}
