body {
    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }
}

.img-left,
img.img-left,
picture.img-left {
  float: left;
  margin: 0 1em 1em 0;
  display: inline-block;
}

.img-right,
img.img-right,
picture.img-right {
  float: right;
  margin: 0 0 1em 1em;
  display: inline-block;
}

.img-center,
img.img-center,
picture.img-center {
  display: block;
  margin: 1em auto;
}
